{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
{% comment %} <h3>{{ message }}</h3> {% endcomment %}

<br />

<p>
    I am Eric Wang, a high schooler with a passion for helping the homeless.
</p>

<p>
    In my efforts to help, I interviewed several local nonprofits. There, I learned that nonprofits were being restrained by a lack of funding and volunteers, limiting how much they could do.
</p>

<p>
    That's why I created Homeless Stop, the one-stop shop where people like you can easily find, donate, volunteer, and contact nearby nonprofits.
</p>

<p>
    I hope that my website will facilitate the process of helping nonprofits help the homeless. Together, let's stop homelessness, with Homeless Stop.
</p>

<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/aboutus_site_background.png' %}" alt="About Us" sizes="1000px">
        </div>
    </div>
</div>

    {% endblock %}
