{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
{% comment %} <h3>{{ message }}</h3> {% endcomment %}

<p></p>

<p>
    We are a group of two high schoolers with a shared passion for helping the homeless.
</p>

<p>
    In our efforts to help, we interviewed several local nonprofits. There, we learned that nonprofits were being restrained by a lack of funding and volunteers, limiting how much they could do.
</p>

<p>
    That's why we created Homeless Stop, the one-stop shop where people like you can easily find, donate, volunteer, and contact nearby nonprofits.
</p>

<p>
    We hope that our website will facilitate the process of helping nonprofits help the homeless. Together, let's stop homelessness, with Homeless Stop.

</p>
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/aboutus_site_background.png' %}" alt="About Us">
        </div>
    </div>
</div>

    {% endblock %}
