{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<body>
    <p>
        It all started when I, Eric Wang, wanted to create a social impact project to help the community. I heard on the news how the city of Phoenix was ordered to clear out The Zone, a massive homeless encampment in the middle of Phoenix. However, few of the homeless people living there obtained help, rather, the large majority of them were forced into other locations, dispersing them throughout the Greater Phoenix area.
    </p>
    <p>
        Further research showed me how the homeless were being cooked alive under Phoenix's scorching summers. According to a report from Maricopa County, homeless people made up 45 percent of all heat-related deaths in the county in 2023. Coupled with rising numbers of heat-related deaths, this only meant that more and more homeless people were dying simply because they had no home to take shelter in. My desire to help was further fueled by these revelations, and I started leaning towards creating an application that would facilitate the delivery of water.
    </p>
    <p>
        I sought interviews from nonprofits that helped the homeless, intending to gain a better understanding of the situation. I interviewed Kim Beaudoin, the development manager of Keys to Change, Colleen Dormer, the Development Manager of Elaine, and Charles Schmiedeke, the regional outreach manager of Keys to Change. However, these interviews completely changed the direction of the project. From these interviews, I learned that the most pressing issues these nonprofits faced were a lack of funding and volunteers, limiting their ability to help the homeless. While I had originally planned on creating something to directly help the homeless, these interviews changed our perspective. If I could empower these nonprofits, then they could have a greater impact on the homeless than just one specific app helping with one specific function could.
    </p>
    <p>
        Mr. Schmeideke mentioned that the creation of a one-stop shop, from which people can easily help nonprofits, would greatly benefit them. With this, the idea for Homeless Stop was born. After an initial prototype, I went to my partner, Edward He, in August 2024, who was as wanting to help as I was, and together, we began programming Homeless Stop. We hope Homeless Stop will make a real impact in helping the homeless by empowering citizens and nonprofits.
    </p>
    
   
</body>
{% endblock %}
