{% extends "app/layout.html" %}

{% block content %}

<h1>{{ object.name }}</h1>

<h3>Category: {{ object.type }}</h3>
<hr class="solid" />
<br />
<div class="container-fluid table-responsive-sm">
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Website:</div>
        <div class="col-auto col-md-auto">
            <a href="{{object.website}}" target="_blank"> {{ object.website }} </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Date:</div>
        <div class="col-auto col-md-auto">
            {{ object.starts }} to {{ object.ends }}
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Host Website:</div>
        <div class="col-auto col-md-auto">
            {{ object.host_website }}
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Description:</div>
        <div class="col-auto col-md-auto">
            {{ object.description }}
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Address:</div>
        <div class="col-auto col-md-auto">
            {{ object.address }} <br />{{ object.city }}, {{object.state }} {{ object.zip_code }}
        </div>
    </div>
    <br />
    <br />
    <div class="row form-group justify-content-around align-items-center">
        <div class="col-auto">
            <a class="btn btn-info mb-3" href="https://www.google.com/maps/dir/?api=1&destination={{object.address}},+{{object.city}},+{{object.state}}" target="_blank">
                Navigate to Event
            </a>
        </div>
    </div>

</div>

{% endblock %}