{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Homeless Stop</h1>
    <h3>Your One-Stop Shop</h3>
    <p class="lead">Find a nonprofit near you to contact, donate, volunteer, and more!</p>
    <p><a href="{% url 'nonprofitlist' %}" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Story</h2>
        <p></p>
        <p><a class="btn btn-default" href="{% url 'about' %}"> About Us &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2> Questions? Comments? Concerns?</h2>
        <p></p>
        <p><a class="btn btn-default" href="{% url 'contact' %}">Contact Us &raquo;</a></p>
    </div>
    <!-- <div class="col-md-4">
            <h2>Keep for now 4 future publishing hehehehehaw</h2>
            <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
            <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
            </div>
        -->

</div>

{% endblock %}
