{% extends "app/layout.html" %}

{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<body style="background-color:black">
    <h1>
        <meta charset="utf-8" />

    </h1>
    <h2 style="color:white">
        We're sorry, but the nonprofit has not provided the information you seek.
        <br />
        You can use your back button to return to the information page.
    </h2>
    <img src="info_not_found_error_page.png" width="1641" height="954"/>

</body>
</html>
 {% endblock %}
