{% extends "app/layout.html" %}

{% block content %}

<h1>{{ object.name }}</h1>

<h3>Category: {{ object.type }}</h3>
<hr class="solid" />
<br />
<div class="container-fluid table-responsive-sm">
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Website:</div>
        <div class="col-auto col-md-auto">
            <a href="{{object.website}}" target="_blank"> {{ object.website }} </a>
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Phone Number:</div>
        <div class="col-auto col-md-auto">
            {{ object.phone_number }}
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">E-mail:</div>
        <div class="col-auto col-md-auto">
            {{ object.email }}
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-3 col-md-2 fw-bold">Address:</div>
        <div class="col-auto col-md-auto">
            {{ object.address }} <br />{{ object.city }}, {{object.state }} {{ object.zip_code }}
        </div>
    </div>
    <br />
    <br />
    <div class="row form-group justify-content-around align-items-center">
        <div class="col-auto">
            <a class="btn btn-info mb-3" href="https://www.google.com/maps/dir/?api=1&destination={{object.name}},+{{object.address}},+{{object.city}},+{{object.state}}" target="_blank">
                Navigate To This Nonprofit
            </a>
        </div>
        <div class="col-auto">
            <a class="btn btn-info mb-3" href="{{object.donation_link}}" target="_blank">
                Donate To This Nonprofit
            </a>
        </div>
        <div class="col-auto">
            <a class="btn btn-info mb-3" href="{{object.volunteer_link}}" target="_blank">
                Volunteer For This Nonprofit
            </a>
        </div>
        <div class="col-auto">
            <a class="btn btn-info mb-3" href="{{object.newspaper_signup}}" target="_blank">
                Sign Up For This Nonprofit's Newsletter
            </a>
        </div>
    </div>

</div>


<!--<p>Replace with Nonprofit Description once we add that</p>-->




<!-- add links to donate/volunteer -->
{% endblock %}
