{% extends "app/layout.html" %}

{% block content %}

<h1>{{ object.name }}</h1>

<h3>Category: {{ object.type }}</h3>


<table id="nonprofitsdetailstable" class="table">
    <thead>
        <tr>
            <th>Website</th>
            <th>Phone Number</th>
            <th>E-mail</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-1">
                <a href="{{object.website}}"> {{ object.website }} </a>
            </td>
            <td class="col-1">
                <p>{{ object.phone_number }} </p>
            </td>
            <td class="col-1">
                <p>{{ object.email }} </p>
            </td>
            <td class="col-1">
                <p>{{ object.address }} <br />{{ object.city }}, {{object.state }} {{ object.zip_code }}</p>
            </td>
        </tr>
    </tbody>
</table>
<!--<p>Replace with Nonprofit Description once we add that</p>-->
<a class="btn btn-info" href="{{object.donation_link}}">
    Donate To This Nonprofit
</a>
<a class="btn btn-info" href="{{object.volunteer_link}}">
    Volunteer For This Nonprofit
</a>
<a class="btn btn-info" href="{{object.newspaper_signup}}">
    Sign Up For This Nonprofit's Newsletter
</a>



<!-- add links to donate/volunteer -->
{% endblock %}
