{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>Nonprofits near you (Greater Pheonix Area)</h3>
<table id="nonprofitTable" class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Category</th>
            <th> City </th>
            <th> Zip Code </th>
        </tr>
    </thead>
    <tbody>
        {% for nonprofit in nonprofits %}
        <tr>
            <td class="col-1">
               <a href="nonprofitdetails/{{nonprofit.id}}"> {{ nonprofit.name }} </a>
            </td>
            <td class="col-1">
                {{ nonprofit.type }}
            </td>
            <td class="col-1">
                {{ nonprofit.city }}
            </td>
            <td class="col-1">
                {{ nonprofit.zip_code }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- DataTables JS -->


    {% endblock %}
